           .card-header{
            display: flex !important;
            align-items: right !important;
            justify-content: space-between !important;
            margin: 0;
        }

        .card-header .btn-add-supplier {
            /* align-self: center; */
            margin-left: auto; /* pushes button to the right */
        }

        .card-title h2 {
            font-size: 30px;
            font-weight: 800;
            margin: 0 0 6px;
        }

        .card-title p {
            font-size: 13px;
            opacity: .8;
            margin: 0;
        }

          .btn-add-supplier {
            background: linear-gradient(140deg, #4d4fca 0%, #8f76db 100%)  !important;
            box-shadow: 0 6px 24px rgba(99,102,241,.45) !important;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 8px 18px;
            font-size: 13px;
            font-weight: 700;
         
        }

        .btn-add-supplier:hover {
        background: linear-gradient(140deg, #4143c3 0%, #7656d8 100%) !important;
        color: #fff !important;
        box-shadow: 0 6px 24px rgba(88, 90, 220, 0.45) !important;
        transform: translateY(-1px);
    }

 
   